@media only screen and (max-width:375px){
.top-header .nav{
display: none;
}
.Placeholder{
display: none;
}
.Discover{
display: none;
}

.mobile-top-header{
display: flex;
}
.img-nav{
    display: none;
    
}



}


